@import '@fontsource/ubuntu/400.css'; /* Regular for body */
@import '@fontsource/ubuntu/500.css'; /* Regular for body */
@import '@fontsource/ubuntu/700.css'; /* Regular for body */
@import '@fontsource/rubik/400.css'; /* Regular for body */
@import '@fontsource/rubik/500.css'; /* Regular for body */
@import '@fontsource/rubik/700.css'; /* Regular for body */
@import '@fontsource/ubuntu/400.css'; /* Regular for body */


/* Override Vuetify defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif !important;
}

body,
.v-application {
  font-family: 'Ubuntu', sans-serif !important;
}

button {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
  text-transform: none !important;
}

a,
button {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
  text-transform: none !important;
}

.v-card-title {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold !important;
}
